<div class="section">
  <div class="container">
    <div class="row">
			
      <div class="col-xs-12">
				<h3>講義</h3>
				<div class="col-xs-12">
					<h4>前期(4月-7月)</h4>
				</div>
				<div class="col-xs-12">
					<p><%= link_to "プログラミング入門1", '~doly/pro1' %></p>
					<p><%= link_to "組込みシステム", '~doly' %></p>
					<p><%= link_to "システムプログラミング", '~doly' %></p>
				</div>
      </div>
      
      <div class="col-xs-12">
				<div class="col-xs-12">
					<h4>後期(9月-2月)</h4>
				</div>
				<div class="col-xs-12">
					<p><%= link_to "高度情報演習2C", '~doly/advinfo2c' %></p>
					<p><%= link_to "Operating Systems and System Programming", '~doly/os' %></p>
					<p><%= link_to "オペレーティングシステム", '~doly/os' %></p>
					<p><%= link_to "プレゼミナール", 'lectures/2013_SugayaLab_Kadai.pdf' %></p>
				</div>
      </div>
      
			<div class="col-xs-12">
				<div class="col-xs-12">
					<h3>研究室の行事</h3>
				</div>
				<div class="col-xs-12">
					<%= image_tag "anual.jpg", class:"img-responsive", style:"float:right;clear:right;max-height:200px;" %>
					<p>4月: 新入生歓迎会</p>
					<p>5月: 輪講、勉強会</p>
					<p>6月: 合同親睦会</p>
					<p>7月: プレ中間</p>
					<p>9月: 合宿</p>
					<p>10月: 中間</p>
					<p>11月: 外部発表, 新入生配属</p>
					<p>1,2月: 卒論/修士論文</p>
					<p>3月: 春休み</p>
				</div>
			</div>

			<div class="col-xs-12">
        <div class="col-xs-12">
          <h3>菅谷研究室はこんな研究室です</h3>
        </div>
        <div class="col-xs-12">
          <%= image_tag "mood.jpg", class:"img-responsive", style:"float:right\
;clear:right;max-height:200px;" %>
					<p>はっきり言いたいことが言える</p>
					<p>積極的に外部発表に挑もうとする意欲のある先輩</p>
					<p>飲み会を通して、社会人としてのあり方を教えてくれる教授</p>
					<p>イベント後に毎回開催される打ち上げ(飲み会)	</p>
					<p>菅谷先生(の顔の広さ)による、企業で活躍する技術者や研究者の方等のお話を聞ける機会</p>
					<p>他の研究室の方々を招き、開かれるBBQなどが開催されます！！</p>
				</div>
      </div>

			<div class="col-xs-12">
        <div class="col-xs-12">
          <h3>Fablication Laboratory</h3>
        </div>
				<div class="col-xs-12">
          <%= image_tag "mood.jpg", class:"img-responsive", style:"float:right\
;clear:right;max-height:200px;" %>
					<%= link_to "<p>Fabgirl Project:芝浦 女性教員×女子学生横断プロジェクト</p>".html_safe, "fabgirl" %>
				</div>
      </div>

    </div>
  </div>
</div>
