<div class="mainBanner" style="background:url(<%= asset_path "home.jpg" %>);background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"> 
	<h2>人とものとの新たなコミュニケーション</h2>
	<!--
	<p class="lead">先端的な組込みシステム、オペレーティングシステム、スマートロボット、IoTサービスやプラットフォーム</p>
	-->
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
	<h2>研究テーマ</h2>
      </div>
    </div>
    <div class="row intro">
      <div class="col-xs-3">
	<div class="introcaption">
	  <%= image_tag "embeded.jpg", class:"img-responsive" %>
	  <h3>組込みシステム</h3>
	</div>
	<div class="introdiscription">
	  <p>組込みシステムの説明書き</p>
	</div>
      </div>
      <div class="col-xs-3">
	<div class="introcaption">
	  <%= image_tag "os.jpg", class:"img-responsive" %>	  
	  <h3>オペレーティングシステム</h3>
	</div>
	<div class="introdiscription">
	  <p>オペレーングシステムの説明書き</p>
	</div>
      </div>
      <div class="col-xs-3">
	<div class="introcaption">
	  <%= image_tag "robot.jpg", class:"img-responsive" %>
	  <h3>ロボット</h3>
	</div>
	<div class="introdiscription">
	  <p>ロボットの説明書き</p>
	</div>
      </div>
      <div class="col-xs-3">
	<div class="introcaption">
	  <%= image_tag "IoT.jpg", class:"img-responsive" %>
	  <h3>IoT</h3>
	</div>
	<div class="introdiscription">
	  <p>組込みシステムの説明書き</p>
	</div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-xs-12">
	<h2>最近の活動</h2>
	<table class="table table-sm table-responsive table-striped">
	  <tbody>

	    <tr>
	      <th scope="row">a</th>
	      <td>b</td>
	      <td>c</td>
	    </tr>
	    
	  </tbody>
	</table>
      </div>
      
    </div>
  </div>
</div>


    

    


