<div class="row marketing">
  <div class="col-lg-6">
    <h4>前期(4月-7月)</h4>
    <p><%= link_to "プログラミング入門1", '#' %></p>
    <p><%= link_to "組込みシステム", '#' %></p>
    <p><%= link_to "システムプログラミング", '#' %></p>
    <h4>後期(9月-2月)</h4>
    <p><%= link_to "高度情報演習2C", '#' %></p>
    <p><%= link_to "Operating Systems and System Programming", '#' %></p>
    <p><%= link_to "オペレーティングシステム", '#' %></p>
    <p><%= link_to "プレゼミナール", '#' %></p>
  </div>
</div>
