<div class="section">
  <div class="container">
    <div class="row">
			
			<div class="col-xs-12">
				<%= form_for(@project) do |f| %>
					<%= f.label :name , "プロジェクトのタイトル" %>
					<%= f.text_field :name %>

					<%= f.label :year, "年度(西暦)" %>
					<%= f.text_field :year %>
					
					<%= f.label :researcher, "研究者(書き方：A,B,C)"%>
					<%= f.text_field :researcher %>
					
					<%= f.label :filename, "ファイル" %>
					<%= f.text_field :filename %>
					<%= file_field :file, :file_name %>

					<%= f.label :imgfilename, "サムネイル画像" %>
					<%= f.text_field :imgfilename %>
					
					<%= f.submit "追加", class: "btn btn-primary" %>
				<% end %>
			</div>
			
		</div>
  </div>
</div>

